<!DOCTYPE html>
<html lang="en" class="no-js">
    <!-- JavaScripts that load template system. -->
    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/template.js"></script>

    <script type="text/javascript">
        function toggle_visibility(id) {
            var e = document.getElementById(id);
            if(e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }
    </script> 
    
    <script>
    (function($) {
  //Moves selected item(s) from sourceList to destinationList
  $.fn.moveToList = function(sourceList, destinationList) {
    var opts = $(sourceList + ' option:selected');
    if (opts.length == 0) {
      alert("Nothing to move");
    }

    $(destinationList).append($(opts).clone());
  };

  //Moves all items from sourceList to destinationList
  $.fn.moveAllToList = function(sourceList, destinationList) {
    var opts = $(sourceList + ' option');
    if (opts.length == 0) {
      alert("Nothing to move");
    }

    $(destinationList).append($(opts).clone());
  };

  //Moves selected item(s) from sourceList to destinationList and deleting the
  // selected item(s) from the source list
  $.fn.moveToListAndDelete = function(sourceList, destinationList) {
    var opts = $(sourceList + ' option:selected');
    if (opts.length == 0) {
      alert("Nothing to move");
    }

    $(opts).remove();
    $(destinationList).append($(opts).clone());
  };

  //Moves all items from sourceList to destinationList and deleting
  // all items from the source list
  $.fn.moveAllToListAndDelete = function(sourceList, destinationList) {
    var opts = $(sourceList + ' option');
    if (opts.length == 0) {
      alert("Nothing to move");
    }

    $(opts).remove();
    $(destinationList).append($(opts).clone());
  };

  //Removes selected item(s) from list
  $.fn.removeSelected = function(list) {
    var opts = $(list + ' option:selected');
    if (opts.length == 0) {
      alert("Nothing to remove");
    }

    $(opts).remove();
  };

  //Moves selected item(s) up or down in a list
  $.fn.moveUpDown = function(list, btnUp, btnDown) {
    var opts = $(list + ' option:selected');
    if (opts.length == 0) {
      alert("Nothing to move");
    }

    if (btnUp) {
      opts.first().prev().before(opts);
    } else if (btnDown) {
      opts.last().next().after(opts);
    }
  };
})(jQuery);

    
    
    
    
    
    </script>
	
	<script type="text/javascript">
        function toggle_tab(id) {
		var f = document.getElementById("generated_report");
				 f.className = 'tab-pane';
				 f= document.getElementById("t1");
				 
				 f.classList.remove("active");
				 var m = document.getElementById("t2");
				 m.className = "active"
            var e = document.getElementById(id);
            
				e.className = 'tab-pane active';
				
				
            
        }
    </script> 

    <style>
        legend { 
            display: block;
            padding-left: 2px;
            padding-right: 2px;
            border: none;
        }
    </style>

    <!-- Body content goes here. -->
    <div id="template-body-content" class="template-body-white" data-header="login" data-nav-selection="2" data-broadcast-messages="no">
        <div class="panel panel-secondary with-header-info">
           			
        <div class="panel-body panel-tabs">                
                <div class="tab-content">
                    <div class="tab-pane active" id="personInformation">
                        <div class="row">
                            <div class="col-lg-18">
                                <div class="panel panel-third">
                                    <div class="panel-heading">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs">
                                            <li class="active" id="t1"><a href="#afcars_search" data-toggle="tab">Create Report </a></li>
                                            <li><a href="#generated_report" data-toggle="tab">View  Report</a></li>
											<li id="t2"><a href="#afcars_cwis_data" data-toggle="tab">Display Report</a></li>
											<li><a href="#view_errors" data-toggle="tab">View Errors</a></li>
                                        </ul>
										
										<div class="panel-body panel-tabs">
											<div class="tab-content">
												
													

													<div class="tab-pane active" id="afcars_search">   
															<div class="row" >	
																<div class="col-xs-8" >
																	<div class="form-group">
																		<label for="dtofrevisedplan">Reporting Period</label>&nbsp;&nbsp;
																		<input type="text" id="dtofrevisedplan" style="width: 60%" value="September 2017 - February 2018">
																	</div>
																</div>																
															</div>
															<div class="row" >															
																
																<div class="col-xs-5">
																	<div class="form-group">
																		<label for="txtDateTimeReceived">Start Date</label>&nbsp;&nbsp;
																		  <input type="text" style="width: 68%" id="txtDateTimeReceived" placeholder="Eg., 01/21/2014">
																		<a href="#1" class="icon-date-time"></a>
																	</div>
																</div>   

																<div class="col-xs-5">
																	<div class="form-group">
																		<label for="txtDateTimeReceived">End Date</label>&nbsp;&nbsp;
																		<input type="text" style="width: 68%" id="txtDateTimeReceived" placeholder="Eg., 01/21/2014">
																		<a href="#1" class="icon-date-time"></a>
																	</div>
																</div> 
															</div>
															
															<div class="row" >	
																<div class="col-xs-5" >
																	<div class="form-group">
																		<label for="dtofrevisedplan">MCI</label>&nbsp;&nbsp;
																		<input type="text" id="dtofrevisedplan" style="width: 45%" >
																	</div>
																</div>
																
																
																<!-- <div class="col-xs-6" >
																	<div class="subject-info-box-1">
																		<label for="dtofrevisedplan">County</label>&nbsp;&nbsp;																		
																			 <select multiple="multiple" id="lstbox1" class="form-control">
																				<option>Adams </option>
																				<option>Allegheny </option>
																				<option>Armstrong </option>
																				<option>Beaver </option>
																				<option>Bedford </option>
																				<option>Berks </option>
																				<option>Blair </option>
																				<option>Bradford </option>
																				<option>Bucks </option>
																				<option>Butler </option>
																				<option>Cambria </option>
																				<option>Cameron </option>
																				<option>Carbon </option>
																				<option>Centre </option>
																				<option>Chester </option>
																				<option>Clarion </option>
																				<option>Clearfield </option>
																				<option>Clinton </option>
																				<option>Columbia </option>
																				<option>Crawford </option>
																				<option>Cumberland </option>
																				<option>Dauphin </option>
																				<option>Delaware </option>
																				<option>Elk </option>
																				<option>Erie </option>
																				<option>Fayette </option>
																				<option>Forest </option>
																				<option>Franklin </option>
																				<option>Fulton </option>
																				<option>Greene </option>
																				<option>Huntingdon </option>
																				<option>Indiana </option>
																				<option>Jefferson </option>
																				<option>Juniata </option>
																				<option>Lackawanna </option>
																				<option>Lancaster </option>
																				<option>Lawrence </option>
																				<option>Lebanon </option>
																				<option>Lehigh </option>
																				<option>Luzerne </option>
																				<option>Lycoming </option>
																				<option>McKean </option>
																				<option>Mercer </option>
																				<option>Mifflin </option>
																				<option>Monroe </option>
																				<option>Montgomery </option>
																				<option>Montour </option>
																				<option>Northampton </option>
																				<option>Northumberland </option>
																				<option>Perry </option>
																				<option>Philadelphia </option>
																				<option>Pike </option>
																				<option>Potter </option>
																				<option>Schuylkill </option>
																				<option>Snyder </option>
																				<option>Somerset </option>
																				<option>Sullivan </option>
																				<option>Susquehanna </option>
																				<option>Tioga </option>
																				<option>Union </option>
																				<option>Venango </option>
																				<option>Warren </option>
																				<option>Washington </option>
																				<option>Wayne </option>
																				<option>Westmoreland </option>
																				<option>Wyoming </option>
																				<option>York </option>
																			</select>
																	</div>
																	
																	 
																	<div class="subject-info-arrows"> 
																	  <input type="button" id="btnAllRight" value=">>" class="btn btn-default" /><br /> 
																	  <input type="button" id="btnRight" value=">" class="btn btn-default" ><br /> 
																	  <input type="button" id="btnLeft" value="<" class="btn btn-default" /><br /> 
																	  <input type="button" id="btnAllLeft" value="<<" class="btn btn-default"  /> 
																	</div> 

																	
																	
																	<div class="subject-info-box-2" >
																		<label for="dtofrevisedplan">County Selected</label>&nbsp;&nbsp;																		
																			 <select multiple="multiple" id="lstbox2" class="form-control">
																				<option>Adams </option>
																				<option>Allegheny </option>
																				<option>Armstrong </option>
																				<option>Beaver </option>
																				<option>Bedford </option>
																				<option>Berks </option>																				
																				<option>Wayne </option>
																				<option>Westmoreland </option>
																				<option>Wyoming </option>
																				<option>York </option>
																			</select>
																	</div>	
																</div> -->
																
																
																<div class="col-xs-8" >
																	<div class="form-group">
																		<label for="dtofrevisedplan">System</label>&nbsp;&nbsp;
																		<span id="MainContent_ddlCounty" title="County">
																			 <select name="dropDown" id="county" style="width: 65%">
																				<option>ACYS </option>
																				<option>BERKS </option>
																				<option>CAPS </option>
																				<option>FACTS2 </option>
																				<option>JCIS </option>
																				<option>KIDS </option>																				
																			</select>
																		</span>

																	</div>
																</div>
																
															</div>
                                                        
                                                        
                                                        <div class="row style-select">
<!--
  <div class="col-md-6">
    <label class="control-label">Superheroes</label>
    <select multiple class="form-control" id="StaffList">
      <option value="123">Superman</option>
      <option value="456">Batman</option>
      <option value="789">Spiderman</option>
      <option value="654">Captain America</option>
    </select>
  </div>
-->
  <div class="col-md-6">
<!--
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3 add-btns">
        <input type="button" id="btnAvenger" value="Add Avenger" class="btn btn-default" />
      </div>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <label class="control-label">Avengers</label>
        <div class="selected-left">
          <select multiple class="form-control" id="PresenterList">
            <option value="856">Iron Man</option>
          </select>
        </div>
        <div class="selected-right">
          <button type="button" class="btn btn-default btn-sm" id="btnAvengerUp">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" id="btnAvengerDown">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" id="btnRemoveAvenger">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
-->

<!--
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3 add-btns">
        <input type="button" id="btnShield" value="Add S.H.I.E.L.D." class="btn btn-default" />
      </div>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <label class="control-label">S.H.I.E.L.D.</label>
        <div class="selected-left">
          <select multiple class="form-control" id="ContactList">
            <option value="765">Nick Fury</option>
            <option value="698">The Hulk</option>
          </select>
        </div>
        <div class="selected-right">
          <button type="button" class="btn btn-default btn-sm" id="btnShieldUp">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" id="btnShieldDown">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" id="btnRemoveShield">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
-->

<!--
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3 add-btns">
        <input type="button" id="btnJusticeLeague" value="Add Justice League" class="btn btn-default" />
      </div>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <label class="control-label">Justice League</label>
        <div class="selected-left">
          <select multiple class="form-control" id="FacilitatorList">

          </select>
        </div>
        <div class="selected-right">
          <button type="button" class="btn btn-default btn-sm" id="btnJusticeLeagueUp">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" id="btnJusticeLeagueDown">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" id="btnRemoveJusticeLeague">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
-->
  </div>
</div>
<p>&nbsp;</p>
<div class="row style-select">
  <div class="col-md-12">
    <div class="subject-info-box-1">
      <label>Available Counties</label>
      <select multiple class="form-control" id="lstBox1">
        <option>Adams </option>
																				<option>Allegheny </option>
																				<option>Armstrong </option>
																				<option>Beaver </option>
																				<option>Bedford </option>
																				<option>Berks </option>
																				<option>Blair </option>
																				<option>Bradford </option>
																				<option>Bucks </option>
																				<option>Butler </option>
																				<option>Cambria </option>
																				<option>Cameron </option>
																				<option>Carbon </option>
																				<option>Centre </option>
																				<option>Chester </option>
																				<option>Clarion </option>
																				<option>Clearfield </option>
																				<option>Clinton </option>
																				<option>Columbia </option>
																				<option>Crawford </option>
																				<option>Cumberland </option>
																				<option>Dauphin </option>
																				<option>Delaware </option>
																				<option>Elk </option>
																				<option>Erie </option>
																				<option>Fayette </option>
																				<option>Forest </option>
																				<option>Franklin </option>
																				<option>Fulton </option>
																				<option>Greene </option>
																				<option>Huntingdon </option>
																				<option>Indiana </option>
																				<option>Jefferson </option>
																				<option>Juniata </option>
																				<option>Lackawanna </option>
																				<option>Lancaster </option>
																				<option>Lawrence </option>
																				<option>Lebanon </option>
																				<option>Lehigh </option>
																				<option>Luzerne </option>
																				<option>Lycoming </option>
																				<option>McKean </option>
																				<option>Mercer </option>
																				<option>Mifflin </option>
																				<option>Monroe </option>
																				<option>Montgomery </option>
																				<option>Montour </option>
																				<option>Northampton </option>
																				<option>Northumberland </option>
																				<option>Perry </option>
																				<option>Philadelphia </option>
																				<option>Pike </option>
																				<option>Potter </option>
																				<option>Schuylkill </option>
																				<option>Snyder </option>
																				<option>Somerset </option>
																				<option>Sullivan </option>
																				<option>Susquehanna </option>
																				<option>Tioga </option>
																				<option>Union </option>
																				<option>Venango </option>
																				<option>Warren </option>
																				<option>Washington </option>
																				<option>Wayne </option>
																				<option>Westmoreland </option>
																				<option>Wyoming </option>
																				<option>York </option>
      </select>
    </div>

    <div class="subject-info-arrows text-center">
      
      <input type='button' id='btnAllRight' value='>>' style="height:40px;width:40px;"/>
      <br />
      <input type='button' id='btnRight' value='>' style="height:40px;width:40px;"/>
      <br />
      <input type='button' id='btnLeft' value='<' style="height:40px;width:40px;"/>
      <br />
    <input type='button' id='btnAllLeft' value='<<' style="height:40px;width:40px;"/>
    </div>

    <div class="subject-info-box-2">
      <label>Counties You Have Selected</label>
      <select multiple class="form-control" id="lstBox2">
        
      </select>
    </div>

    <div class="clearfix"></div>
      <br/>
      <br/>
  </div>
</div>

<script>
  $('#btnAvenger').click(function(e) {
    $('select').moveToList('#StaffList', '#PresenterList');
    e.preventDefault();
  });

  $('#btnRemoveAvenger').click(function(e) {
    $('select').removeSelected('#PresenterList');
    e.preventDefault();
  });

  $('#btnAvengerUp').click(function(e) {
    $('select').moveUpDown('#PresenterList', true, false);
    e.preventDefault();
  });

  $('#btnAvengerDown').click(function(e) {
    $('select').moveUpDown('#PresenterList', false, true);
    e.preventDefault();
  });

  $('#btnShield').click(function(e) {
    $('select').moveToList('#StaffList', '#ContactList');
    e.preventDefault();
  });

  $('#btnRemoveShield').click(function(e) {
    $('select').removeSelected('#ContactList');
    e.preventDefault();
  });

  $('#btnShieldUp').click(function(e) {
    $('select').moveUpDown('#ContactList', true, false);
    e.preventDefault();
  });

  $('#btnShieldDown').click(function(e) {
    $('select').moveUpDown('#ContactList', false, true);
    e.preventDefault();
  });

  $('#btnJusticeLeague').click(function(e) {
    $('select').moveToList('#StaffList', '#FacilitatorList');
    e.preventDefault();
  });

  $('#btnRemoveJusticeLeague').click(function(e) {
    $('select').removeSelected('#FacilitatorList');
    e.preventDefault();
  });

  $('#btnJusticeLeagueUp').click(function(e) {
    $('select').moveUpDown('#FacilitatorList', true, false);
    e.preventDefault();
  });

  $('#btnJusticeLeagueDown').click(function(e) {
    $('select').moveUpDown('#FacilitatorList', false, true);
    e.preventDefault();
  });

  $('#btnRight').click(function(e) {
    $('select').moveToListAndDelete('#lstBox1', '#lstBox2');
    e.preventDefault();
  });

  $('#btnAllRight').click(function(e) {
    $('select').moveAllToListAndDelete('#lstBox1', '#lstBox2');
    e.preventDefault();
  });

  $('#btnLeft').click(function(e) {
    $('select').moveToListAndDelete('#lstBox2', '#lstBox1');
    e.preventDefault();
  });

  $('#btnAllLeft').click(function(e) {
    $('select').moveAllToListAndDelete('#lstBox2', '#lstBox1');
    e.preventDefault();
  });

</script>

															
															<div class="row">
																<div class="col-xs-12" >
																	<div class="form-group">
																		<label for="dtofrevisedplan">Description</label>&nbsp;&nbsp;
																		<input type="text" id="dtofrevisedplan" style="width: 85%" >
																	</div>
																</div>
															</div>
															
																																		
															<div class="row"><br></div>															
																				
															<div class="row" style="text-align: center">
																<button type="button" class="btn btn-internal btn-primary" data-toggle="modal" href ng-click="InitiateReevaluation(true)" ng-disabled="DisableInitReevalbtn" tabindex="0" onclick="toggle_visibility('showResult')">Generate Report</button>
																<button type="button" class="btn btn-internal btn-primary" data-toggle="modal" href ng-click="InitiateReevaluation(false)" ng-disabled="DisableNoReevalNeededbtn" tabindex="0" onclick="toggle_visibility('clear')">Clear</button>
															</div>
															<div class="row"><br></div>
																<div class="row col-xs-18" id="showResult" style="display: none">
																
																<div id="afcars_search" class="row">
                                                                    <div class="col-xs-5"></div>
																	<div class="col-xs-8">
																		
																		<h4>You will be notified as soon as the report is available.</h4>
																		
																	</div>
                                                                    <div class="col-xs-5"></div>
																</div>	
                                                                    <div class="row"><br></div>
															</div>
																<!--Fill everything related to family services before this -->
													</div>	
												
												
												<!--Beginning of Afcars CWIS Data --> 
												
												<div class="tab-pane" id="afcars_cwis_data">
															<div class="row"> </div>
															
                                                    <div class="row">
                                                                <div class="col-lg-18">
                                                                    <h2 class="tab-heading">Summary</h2>
                                                                </div> 
                                                            </div>
                                                    
                                                     <div class="row">
                                                                                <div class="col-xs-8">
                                                                                    <div class="form-group">
                                                                                        <label for="txtDateTimeReceived">Total Number of JPO Cases</label>
                                                                                        <input type="text" id="txtDateTimeReceived" placeholder="7" style="width: 20%" disabled>

                                                                                    </div>
                                                                                </div>   

                                                     </div>
                                                     <div class="row">
                                                     <div class="col-xs-8">
                                                                                    <div class="form-group">
                                                                                        <label for="txtDateTimeReceived">Number of Deceased Children
                                                                                    </label>
                                                                                        <input type="text" id="txtDateTimeReceived" style="width: 20%" disabled>

                                                                                    </div>
                                                    </div> 
                                                    </div>
                                                    
                                                    
                                                   <div class="row"><div class="col-xs-8"> Reason for Death </div></div>
                                                    
                                                    <table class="table  table-striped">
																		<thead>
																			<tr>
																				<th>Natural</th>
																				<th>Abuse</th>
																				<th>Reason 1</th>
																				<th>Reason 2</th>
																			</tr>
																		</thead>
																		<tbody>
																			
																			<tr>
																				<td>1</td>
																				<td>2</td>
																				<td>3</td>
																				<td>1</td>
																			</tr>
																			
																		</tbody>
																	</table>
                                                    
                                                    
															<div class="row"><br></div>
																	<div class="row">
                                                                <div class="col-lg-18">
                                                                    <h2 class="tab-heading">AFCARS Report Details</h2>
                                                                </div> 
                                                            </div>

<!--                                                        <h4 class="modal-title"></h4>-->
																	<div class="row">
                                                                 <div class="col-xs-6">
                                                                     <div class="form-group">
                                                                            <label for="dtofrevisedplan">County</label>
                                                                            <select name="ctl00$MainContent$ddlNameSuffix$ddlDropDownList" id="ddlNameSuffix" style="max-width:40%;">
                                                                                <option value="01" selected> All</option>
                                                                                <option>Adams </option>
																				<option>Allegheny </option>
																				<option>Armstrong </option>
																				<option>Beaver </option>
																				<option>Bedford </option>
																				<option>Berks </option>
																				<option>Blair </option>
																				<option>Bradford </option>
																				<option>Bucks </option>
																				<option>Butler </option>
																				<option>Cambria </option>
																				<option>Cameron </option>
																				<option>Carbon </option>
																				<option>Centre </option>
																				<option>Chester </option>
																				<option>Clarion </option>
																				<option>Clearfield </option>
																				<option>Clinton </option>
																				<option>Columbia </option>
																				<option>Crawford </option>
																				<option>Cumberland </option>
																				<option>Dauphin </option>
																				<option>Delaware </option>
																				<option>Elk </option>
																				<option>Erie </option>
																				<option>Fayette </option>
																				<option>Forest </option>
																				<option>Franklin </option>
																				<option>Fulton </option>
																				<option>Greene </option>
																				<option>Huntingdon </option>
																				<option>Indiana </option>
																				<option>Jefferson </option>
																				<option>Juniata </option>
																				<option>Lackawanna </option>
																				<option>Lancaster </option>
																				<option>Lawrence </option>
																				<option>Lebanon </option>
																				<option>Lehigh </option>
																				<option>Luzerne </option>
																				<option>Lycoming </option>
																				<option>McKean </option>
																				<option>Mercer </option>
																				<option>Mifflin </option>
																				<option>Monroe </option>
																				<option>Montgomery </option>
																				<option>Montour </option>
																				<option>Northampton </option>
																				<option>Northumberland </option>
																				<option>Perry </option>
																				<option>Philadelphia </option>
																				<option>Pike </option>
																				<option>Potter </option>
																				<option>Schuylkill </option>
																				<option>Snyder </option>
																				<option>Somerset </option>
																				<option>Sullivan </option>
																				<option>Susquehanna </option>
																				<option>Tioga </option>
																				<option>Union </option>
																				<option>Venango </option>
																				<option>Warren </option>
																				<option>Washington </option>
																				<option>Wayne </option>
																				<option>Westmoreland </option>
																				<option>Wyoming </option>
																				<option>York </option>
                                                                            </select>
                                                                             
                                                                        </div>
                                                                </div>
                                                                
                                                                <div class="col-xs-6">
                                                                        <label for="dtofrevisedplan">Type</label>
                                                                            <select name="ctl00$MainContent$ddlNameSuffix$ddlDropDownList" id="ddlNameSuffix" style="max-width:30%;">
                                                                                <option value="01" selected> All</option>
                                                                                <option>Type 1 </option>
                                                                                <option>Type 2 </option>
                                                                            </select>
                                                                    </div>
                                                                <div class="col-xs-6">
                                                                    <div class="form-group">
                                                                        <label for="ddlNameSuffix">Only Display Reports with Errors</label>&nbsp;&nbsp;
                                                                        <input type="checkbox" id="ddlNameSuffix" style="max-width:50%;" value="F">

                                                                    </div>
                                                                </div> 

                                                                
                                                            </div>
																	
																	<table class="table table-hover table-striped">
																		<thead>
																			<tr>
																				<th>MCI</th>
																				<th>County</th>
																				<th>Error Sent Date</th>
																				
                                                                                <th>Exclude from sending to County</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr>
																				<!-- <td><a href="SearchPage2.html">123456789</a></td> -->
																				<td><a href="Javascript:void(0);" title="MCI" data-toggle="modal" data-target="#runawayDetailsModal" ng-show="ReferralReadOnly" ng-click="editAddress(Address, $index)">123456789</a>
																				<td>Dauphin</td>
																				<td>01/01/2017</td>
																				<td> <input type="checkbox" id="ddlNameSuffix" style="max-width:50%;" value="F"></td>
                                                                                
																			</tr>
																			<tr>
																				<td>987654321</td>
																				<td>York</td>
																				<td>01/01/2017</td>
																				<td> <input type="checkbox" id="ddlNameSuffix" style="max-width:50%;" value="F"></td>
																			</tr>
																			<tr>
																				<td>112233445</td>
																				<td>Cumberland</td>
                                                                                <td>01/01/2017</td>
																				<td> <input type="checkbox" id="ddlNameSuffix" style="max-width:50%;" value="F"></td>
																			</tr>
																		</tbody>
																	</table>
															
															 
															 
															 <div id="runawayDetailsModal" class="modal fade">
                                                                    <div class="modal-dialog modal-lg">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                <h4 class="modal-title">Foster Care Details</h4>
                                                                            </div>

                                                                            <div class="modal-body">

                                                                                <div class="row">
                                                                                    <div class="col-xs-6">
                                                                                        <div class="form-group">
                                                                                            <label for="casname">First Name</label>&nbsp;&nbsp;
                                                                                            <input type="text" id="casname" style="max-width:50%;" value="John" disabled>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-xs-6">
                                                                                        <div class="form-group">
                                                                                            <label for="casname">Last Name</label>&nbsp;&nbsp;
                                                                                            <input type="text" id="casname" style="max-width:50%;" value="Smith" disabled>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-xs-6">
                                                                                        <div class="form-group">
                                                                                            <label for="ddlNameSuffix">MCI ID</label>&nbsp;&nbsp;
                                                                                            <a href="#">123456789
                                                                                            </a>

                                                                                        </div>
                                                                                    </div>  
                                                                                </div>


                                                                                <div class="row">
                                                                                    <div class="col-xs-8">
                                                                                        <div class="form-group">
                                                                                            <label for="txtDateTimeReceived">Reporting Period</label>
                                                                                            <input type="text" id="txtDateTimeReceived" disabled style="width: 60%" value="01/01/2017-07/01/2017">

                                                                                        </div>
                                                                                    </div>   

                                                                                    <div class="col-xs-6">
                                                                                        <div class="form-group">
                                                                                            <label for="txtDateTimeReceived">Local FIPS Code</label>
                                                                                            <input type="text" id="txtDateTimeReceived" disabled style="width: 25%" value="22">

                                                                                        </div>
                                                                                    </div> 
																					
																					

                                                                                </div>


                                                                                <div class="row">
																				
																					<div class="col-xs-4">
                                                                                        <div class="form-group">
                                                                                            <label for="txtDateTimeReceived">Sex</label>
                                                                                            <input type="text" id="txtDateTimeReceived" disabled style="width: 40%" value="Male">

                                                                                        </div>
																					</div>
																					
                                                                                    <div class="col-xs-6">
                                                                                        <div class="form-group">
                                                                                            <label for="txtDateTimeReceived">Date of Birth</label>
                                                                                            <input type="text" id="txtDateTimeReceived" disabled style="width: 50%" value="02/01/2017">

                                                                                        </div>
                                                                                    </div>   

																					<div class="col-xs-7">
                                                                                        <div class="form-group">
                                                                                            <label for="txtDateTimeReceived">Record Number </label>
                                                                                            <input type="text" id="txtDateTimeReceived" disabled style="width: 60%" value="AX12C1N09">

                                                                                        </div>
                                                                                    </div>                                   
																					
																					

                                                                                </div>
																				
																				<div class="row">
																					<div class="col-xs-5">
																							<div class="form-group">
																								<label for="txtDateTimeReceived">Race</label>
																								<input type="text" id="txtDateTimeReceived" disabled style="width: 50%" value="White">

																							</div>
																					</div> 
																				</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
															 
													
															<div class="row"><br></div>
															
															<div class="panel-footer text-right">
																<div class="btn-group primary-actions">
																	<form  method="get" class="btn-group primary-actions"><!--action="SearchPage1.html"-->
																	<input type="submit" name="ctl00$MainContent$btnClear" value="AFCARS Data File" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$MainContent$btnClear&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="MainContent_btnClear" class="btn btn-internal btn-primary" />
																	</form>
																	 <form  method="get" class="btn-group primary-actions"><!--action="SearchPage1.html"-->
																	<input type="submit" name="ctl00$MainContent$btnClear" value="Transmit to ACF" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$MainContent$btnClear&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="MainContent_btnClear" class="btn btn-internal btn-primary" />
																	</form>
																	<form  method="get" class="btn-group primary-actions">
																	<input type="submit" name="ctl00$MainContent$btnSearch" value="Send to Counties" id="MainContent_btnSearch" class="btn btn-internal btn-primary" action="#searchResult"/>
																	</form>
																</div>
															</div>
												</div>	
												
												<!--End of Afcars CWIS Data -->
												
												<!--Beginning of Generated Report --> 
												<div class="tab-pane" id="generated_report">
															<div class="row">
																
																<div class="row" >
																	<div class="col-xs-18">	
																		<div class="col-xs-7" >
																			<div class="form-group">
																				<label for="dtofrevisedplan">Reporting Period</label>&nbsp;&nbsp;
																				<input type="text" id="dtofrevisedplan" style="width: 70%" value="September 2017 - February 2018" disabled>
																			</div>
																		</div>	
																		
																		
																		<div class="col-xs-6">
																			<div class="form-group">
																				<label for="txtDateTimeReceived">Date Created</label>&nbsp;&nbsp;
																				<input type="text" style="width: 58%" id="txtDateTimeReceived" placeholder="Eg., 09/21/2017">
																				<a href="#1" class="icon-date-time"></a>
																			</div>
																		</div>
																			
																	</div>  
																</div>
																																																																			
																<div class="row"><br></div>															
																					
																<div class="row" style="text-align: center">
																	<button type="button" class="btn btn-internal btn-primary" data-toggle="modal" href ng-click="InitiateReevaluation(true)" ng-disabled="DisableInitReevalbtn" tabindex="0" onclick="toggle_visibility('showResult2')">Search</button>
																	<button type="button" class="btn btn-internal btn-primary" data-toggle="modal" href ng-click="InitiateReevaluation(false)" ng-disabled="DisableNoReevalNeededbtn" tabindex="0" onclick="toggle_visibility('clear')">Clear</button>
																</div>

																<div class="row"><br></div>

																<div class="row col-xs-18" id="showResult2" style="display: none">																		
																		<div id="afcars_search" class="row">
																			<div class="col-xs-18">
																				<!-- <h2 class="tab-heading">AFCARS CWIS Data Criteria</h2 -->																				
																				<table class="table table-hover table-striped">
																					<thead>
																						<tr>
																							<th>Date Created </th>
																							<th>Created By</th>
																							<th>Report Type</th>
																							<th>Reporting Period</th>
																							<th>Narrative</th>
																							<th>View</th>
																						
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td>09/12/2017</td>
																							<td>John Smith</td>
																							<td>Foster Care</td>
																							<td>09/01/2017  - 02/28/2018</td>
																							<td>Report Generated by John Smith for Reporting Period 09/01/2017-02/28/2018</td>
																							<td><a href="Javascript:void(0);" title="View" onclick="toggle_tab('afcars_cwis_data')"><em class="glyphicon glyphicon-eye-open"></em></a>
																							
																						</tr>
																						<tr>
																							<td>11/14/2017</td>
																							<td>Jane Smiths</td>
																							<td>Adoption</td>
																							<td>09/01/2017  - 02/28/2018</td>
																							<td>Report Generated by Jane Smith for Reporting Period 09/01/2017-02/28/2018</td>
																							
																						</tr>																			
																					</tbody>
																				</table>
																			</div>
																		</div>	
																	</div>
															</div>									
												</div>
												<!-- End of Generated Report -->
												
												<!--Beginning of View Errors -->
												<div class="tab-pane" id="view_errors">
													<div id="afcars_search" class="row">
														<div class="col-xs-18">
															<!-- <h2 class="tab-heading">AFCARS CWIS Data Criteria</h2 -->																				
															<table class="table table-hover table-striped">
																<thead>
																	<tr>
																		<th>MCI </th>
																		<th>Counties</th>
																		<th>Error Details</th>																		
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>13454555</td>
																		<td>Adams</td>
																		<td>Foster Care element 6 - Date of birth is missing</td>
																	</tr>
																	<tr>
																		<td></td>
																		<td></td>
																		<td>Foster care element 50 - Year of birth of 1st foster caretake rise missing</td>
																	</tr>																		

																	<tr>
																		<td>13454578</td>
																		<td>Berks</td>
																		<td>Foster Care element 6 - Date of birth is missing</td>
																	</tr>	
																	<tr>
																		<td></td>
																		<td></td>
																		<td>Foster care element 50 - Year of birth of 1st foster caretake rise missing</td>
																	</tr>																		
																</tbody>
															</table>
														</div>
													</div>									
												</div>
												
												<!-- End of View Errors --> 
												
												
											</div>
											<!-- <div class="panel-footer text-right">
												<div class="btn-group primary-actions">
													 <form action="SearchPage1.html" method="get" class="btn-group primary-actions">
													<input type="submit" name="ctl00$MainContent$btnClear" value="Clear" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$MainContent$btnClear&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="MainContent_btnClear" class="btn btn-internal btn-primary" />
													</form>
													<form action="SearchPage2.html" method="get" class="btn-group primary-actions">
													<input type="submit" name="ctl00$MainContent$btnSearch" value="Search" id="MainContent_btnSearch" class="btn btn-internal btn-primary" action="#searchResult"/>
													</form>
												</div>
											</div> -->
										</div>										
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- </div> -->
		</div>		
			<div class="panel-footer text-right">
				<div class="btn-group primary-actions">
					 <!-- <form action="SearchPage1.html" method="get" class="btn-group primary-actions">
					<input type="submit" name="ctl00$MainContent$btnClear" value="Clear" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$MainContent$btnClear&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="MainContent_btnClear" class="btn btn-internal btn-primary" />
					</form>
					<form action="SearchPage2.html" method="get" class="btn-group primary-actions">
					<input type="submit" name="ctl00$MainContent$btnSearch" value="Search" id="MainContent_btnSearch" class="btn btn-internal btn-primary" action="#searchResult"/>
					</form> -->
				</div>
			</div>
	</div>
	
		<script src="../CWIS_HTML_03282018_V_1_0/js/script.js"></script>  
		<script src="/CWIS_HTML_03282018_V_1_0/js/jquery.selectlistactions.js"></script>
		
</html>